<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/img/icon-weather-sunrainheavy-512.png">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
{{>header}}
<div class="main">

    <p>{{errorMessage}}</p>


    <img class="portrait" src="img/404-sayfa-bulunamadi-not-found.JPG">



</div>
{{>footer}}
</body>
</html>
